* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root{
  height: 100%;
}

/* .container{
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
} */