* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root{
  height: 100%;
}

.container{
  padding-right: 1%;
  padding-left: 1%;
  margin-right: auto;
  margin-left: auto;
}