* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html, body, #root{
  height: 100%;
  overflow-x: hidden;
}

body {
  background: rgb(255, 255, 255);
}

.container{
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}