* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-color: rgba(37, 42, 87, 0.938);
    color: rgb(110, 115, 156);
}

.title {
    color: #f8f2f2;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(37, 42, 87, 0.938);
    padding: 2%;
}

nav{
    display: flex;
}

nav ul {
    margin-right: 25px;
}

input {
    height: 25px;
}
button {
    height: 25px;
}

.home {
    height: 100vh;
}

.sideNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    height: 100vh;
    width: 16%;
    background: rgba(30, 35, 78, 0.938);
    border-right: solid 1px rgba(50, 51, 87, 0.671);
}

.categories {
    margin-top: 10px;
}

