@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-color: rgba(37, 42, 87, 0.938);
    color: rgb(90, 93, 121);
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.title {
    color: #f8f2f2;
}
/*Header*/
header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(51, 56, 98, 0.938);
    padding: 2%;
    border-bottom: solid 1px rgba(58, 62, 98, 0.938);
}

nav{
    display: flex;
}

nav ul {
    margin-right: 25px;
    color: rgb(126, 129, 149);
    text-transform: uppercase;
}

input {
    height: 32px;
    width: 280px;
    background-color:rgba(75, 81, 128, 0.5);
    border: none;
    /* border: solid 2px rgba(102, 107, 149, 0.938); */
    padding: 12px;
    border-radius: 26px;
    outline: none;
    /* border-top: none;
    border-right: none;
    border-left: none; */
    position: relative;
}

button {
    cursor: pointer;
    height: 25px;
    background: transparent;
    font-size: 17px;
    border: none;
    color: rgb(156, 159, 180);
    position: absolute;
    right: 40px;
    top: 32px;
}


.home {
    height: 100vh;
}
/*Side nav*/
.sideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    height: 100vh;
    width: 210px;
    background: rgba(22, 26, 63, 0.938);
    border-right: solid 1px rgba(58, 62, 98, 0.938);
}

.sideNav h4 {
    margin-bottom: 15px;
}

.sideNav li {
    margin-top: 6px;
}

select {
    cursor: pointer;
    margin-top: 35px;
    border: solid 2px #4f557a;
    background-color: transparent;
    color: #8c91ac;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
    outline: none;
}

select option {
    background: rgba(37, 42, 87, 0.938);
    border-radius: 6px;
}

.categories {
    margin-top: 10px;
}

